<div class="side_bar">
  <div class="side_bar_header">
    <a href="https://www.google.com/" class="side_bar_username">Tom</a>
    <a href="https://www.google.com/" class="create_chat">チャットを作成する</a>
  </div>
  <div class="rooms">
    <a href="https://www.google.com/" class="room">techroom1</a>
    <a href="https://www.google.com/" class="room">techroom2</a>
    <a href="https://www.google.com/" class="room">techroom3</a>
    <a href="https://www.google.com/" class="room">techroom4</a>
    <a href="https://www.google.com/" class="room">techroom5</a>
    <a href="https://www.google.com/" class="room">techroom6</a>
    <a href="https://www.google.com/" class="room">techroom7</a>
    <a href="https://www.google.com/" class="room">techroom8</a>
    <a href="https://www.google.com/" class="room">techroom9</a>
    <a href="https://www.google.com/" class="room">techroom10</a>
  </div>
</div>